<!-- <div class="example-wrapper" style="width: 50%; float:center ; margin-left: 25%; border:5% ;">
  <p>Track data for :</p>
  <kendo-dropdownlist [data]="listItems"> </kendo-dropdownlist>

  <p>Enter data for :</p>
  <kendo-dropdownlist [data]="listItems"> </kendo-dropdownlist>

  <button kendoButton size="medium" width="small" (click)="onMenuClick()">Submit</button>
</div> -->

<div style="margin-left: 30%;">
  <button kendoButton size="medium" width="medium" style="margin-bottom:10cap ;">
    <a class="nav-link active" aria-current="page" routerLink="/patientvitals">Temperature</a></button> <br/><br/>

    <button kendoButton size="medium" width="medium">
      <a class="nav-link active" aria-current="page" routerLink="/adddata">Blood Pressure</a></button> <br/><br/>
</div>
